@using System.Resources;

<style>
    #table_header > th {
        color: #fff
    }
</style>

<section class="panel">

    <div class="table">


        <table class="table table-responsive" id="_table" runat="server" style="">

            <thead>

                @if (Model.Items != null)
                {
                <tr id="table_header" style="background-color: #4CAF50; ">
                    <th></th>
                    @for (int i = 0; i < Model.Items.Tables[0].Columns.Count && Model.Items.Tables[0].Rows.Count > 0; i++)
                    {
                        string str = (string)Model.Items.Tables[0].Columns[i].ColumnName;
                        if (str != "" && str != null && str != " ")
                        {
                            <th>@str</th>
                        }
                        else
                        {
                            <th> @Model.Items.Tables[0].Columns[i].ColumnName</th>
                        }
                    }
                </tr>
                }

            </thead>

            <tbody>

                @if (Model.Items == null)
                {
                    <tr>
                        <td>There is no items for this option.</td>
                    </tr>
                }
                else if (Model.Items.Tables[0].Rows.Count > 0)
                {
                    for (int i = 0; i < Model.Items.Tables[0].Rows.Count; i++)
                    {

                        //declaring Custom Id
                        var str = Model.Items.Tables[0].Rows[i][0];

                        // if (Model.Items.Tables[0].Rows[i][0] == )

            <tr>

                <td class="col-lg-1">
                    <label class="container1" style="width:20px;">
                        <input id='@str' type="checkbox"> <!-- checked="checked"-->
                        <span class="checkmark"></span>
                    </label>
                </td>


                @for (int j = 0; j < Model.Items.Tables[0].Columns.Count; j++)
                {

                    if (Model.Items.Tables[0].Columns[j].ColumnName == "IBAN_ID")
                    {
                        <td style="width:150px;">
                            @Html.ActionLink((string)@Model.Items.Tables[0].Rows[i]["IBAN_ID"], "editBankAccountByID", "EditBankAccount", new { id = (string)@Model.Items.Tables[0].Rows[i]["IBAN_ID"] }, new { @style = "width:150px;" })
                        </td>
                    }

                    else if (Model.Items.Tables[0].Columns[j].ColumnName == "Email")
                    {
                        <td>
                            <div style="width:100px; word-wrap: break-word"> @Model.Items.Tables[0].Rows[i][5]</div>
                        </td>
                    }


                    else if (Model.Items.Tables[0].Columns[j].ColumnName == "TrxDate")
                    {
                        <td class="col-lg-1">
                            @{
                                DateTime date = Model.Items.Tables[0].Rows[i][j];
                                string strdate = date.ToString("dd/MM/yyyy");
                            }
                            @strdate

                        </td>
                    }


                    else
                    {
                        <td align="left"> @Model.Items.Tables[0].Rows[i][j] </td>
                    }
                }
            </tr>
                    }
                }
                else
                {
                    <tr>
                        There is no items for this option.
                    </tr>
                }


            </tbody>


        </table>

    </div>

    <div>
        <center>
            @if (Model.Pager.EndPage > 1 && Model.Items.Tables[0].Rows.Count != 0)
            {
                <ul class="pagination">
                    @if (Model.Pager.CurrentPage > 1)
                    {
                        <li>
                            <a href="~/@(Model.controller)/Index1">First</a>
                        </li>
                        <li>
                            <a href="~/@(Model.controller)/Index1?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                        </li>
                    }

                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                    {
                        <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                            <a href="~/@(Model.controller)/Index1?page=@page">@page</a>
                        </li>
}

                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <li>
                            <a href="~/@(Model.controller)/Index1?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                        </li>
                        <li>
                            <a href="~/@(Model.controller)/Index1?page=@(Model.Pager.TotalPages)">Last</a>
                        </li>
                    }
                </ul>
            }
        </center>
    </div>



    <script type="text/javascript">

        $(document).ready(function () {
            $(":checkbox").find("option").attr("selected", false);
        });

        $(document).on('change', ":checkbox", function () {

            var selected = new Array();
            $('input:checked').each(function () {
                selected.push($(this).attr('id'));

            });

            $.ajax({
                url: "/_TableLayout/SetArray/",
                dataType: 'json',
                data: JSON.stringify({ list: selected }),
                type: 'POST',
                contentType: "application/json",
                traditional: true,
                success: successFunc,
                error: error
            });

            function error() {
                //alert("An error has occured!!!");
            }

            function successFunc() {
                // alert();

            }
        });

    </script>

</section>
